@model ict_lab_website.Models.Schedule.UploadableReservation

@{
    ViewData["Title"] = "AddReservation";
}

<h2>New reservation</h2>

@if (!ViewBag.IsReservationAdded)
{
    <div class="alert alert-danger"><strong>Error</strong> Something went wrong when trying to upload your reservation, please try again.</div>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddReservation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" value="0879062" readonly />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" value="Student" readonly />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Classroom" class="control-label"></label>
                <input asp-for="Classroom" class="form-control" value="@ViewBag.RoomName" readonly />
                <span asp-validation-for="Classroom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" value="@ViewBag.Year" readonly />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quator" class="control-label"></label>
                <input asp-for="Quator" class="form-control" value="4" readonly />
                <span asp-validation-for="Quator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Week" class="control-label"></label>
                <input asp-for="Week" class="form-control" value="@ViewBag.Week" readonly />
                <span asp-validation-for="Week" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Day" class="control-label"></label>
                <input asp-for="Day" class="form-control" value="@ViewBag.Day" />
                <span asp-validation-for="Day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartHour" class="control-label"></label>
                <input asp-for="StartHour" class="form-control" value="@ViewBag.startLessonHour" />
                <span asp-validation-for="StartHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalHours" class="control-label"></label>
                <input asp-for="TotalHours" class="form-control" />
                <span asp-validation-for="TotalHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Rooms" asp-action="Index">Back to index</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
