@model RoomScheduleViewModel

<table class="table table-bordered table-striped">
    <thead>
        <tr class="success">
            <th>Lesson hour</th>
            <th style="width: 85%">Reservations on @Model.DateAndTime.ToString("dddd, d MMMM yyyy")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hour in Model.Schedule.GetDay(Model.DateAndTime, Model.RoomName))
        {
            if (hour.Value != null)
            {
        <tr>
            <th>@hour.Key</th>
            <td class="dayview-reservation">
                @Html.Raw(hour.Value.Course) - @hour.Value.Teacher - @hour.Value.Class
            </td>

        </tr>
            }
            else
            {
                <tr>
                    <th>@hour.Key</th>
                        <td class="dayview-reservation">
                            @if (ViewBag.role != null){
                                <a class="btn btn-default" asp-controller="Schedule" asp-action="AddReservation" asp-route-roomName="@Model.RoomName" asp-route-startLessonHour="@hour.Key" asp-route-dateTime="@Model.DateAndTime.ToString("yyyy-MM-dd")"><span class="glyphicon glyphicon-plus"></span></a>
                            }
                        </td>
                </tr>
            }
        }
    </tbody>
</table>

