@model List<Notification>
    <br />
    <br />
<div class="row">
    <div class="col-md-12">
        @if (ViewBag.internet == false) {
                <td colspan="3">
                    <div class="alert alert-danger">
                        <strong>Error: </strong> Make sure you have connection with the internet.
                    </div>
                </td>
        } else {
        <table class="table table-bordered table-striped">
            <thead>
                <tr class="success">
                    <th width="20%">ID</th>
                    <th width="80%">Message</th>
                </tr>
                </thead>
                <tbody>
                    @foreach (Notification notification in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => notification.ID)</td>
                            <td>@Html.DisplayFor(m => notification.Message)</td>
                            <td>@Html.HiddenFor(m => notification.New)</td>
                        </tr>
                    }
                </tbody>
            </table>
            }
        <table class="table table-bordered table-striped">
            <thead>
                <tr class="success">
                    <th width="33%">Send Message To</th>
                    <th width="33%">Form to fill in</th>
                    <th width="34%"></th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.internet == false)
                { 

                }
                else
                {
                    @Html.Partial("SendNotification", new UploadableNotification())
                    @Html.Partial("SendNotificationToGroup", new UploadableGroupNotification())
                }
            </tbody>
        </table>

        @if(ViewBag.IsNotificationAdded == "failed")
        {
            <div>
                <td colspan="3">
                    <div class="alert alert-danger">
                        <strong>Error: </strong>The message was not send, make sure you enter the right credentials.
                    </div>
                </td>
            </div>
        } else if(ViewBag.IsNotificationAdded == null)
        {

        } else 
        {
            <div>
                <td>
                    <div class="alert alert-success ">
                        <strong>Success: </strong>The message is successfully send.
                    </div>
                </td>
            </div>
        }
    </div>
</div>