@using System.Data
@model UsersViewModel


<br>
</br>
<br>
</br>

<div class="col-md-10 col-md-offset-1" style="padding-top:10px">
    <div class="well">
        <table class="table table-bordered">
            <thead>
            </thead>
            <tbody>
                @if (@ViewBag.returnType == "error")
                    {
                        <td colspan="3">
                            <div class="alert alert-danger">
                                <strong>Error: </strong>The users could not be found, make sure you have connection with the internet.
                            </div>
                        </td>
                    }
                    else
                    {
                        @foreach (DataRow row in Model._dataTable.Rows)
                        {
                            <tr>
                                <td>@row["Email"]</td>
                                    <td>
                                    <button class="btn btn-default" id="editUser" type="submit" value="@row["Email"]"><i class="glyphicon glyphicon-pencil"></i></button>
                                    <form method="post" asp-controller="Users" asp-action="DeleteUser" asp-route-email="@row["Email"]">
                                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-remove"></i></button>
                                    </form>
                                </td>
                            </tr>
                        }
                    }

            </tbody>
        </table>

        <div class="modal fade" tabindex="-1" id="editModal"
             data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                        <h4 class="modal-title">Edit User</h4>
                    </div>
                    <div class="modal-body">
                            <h2 class="modal-title"></h2>
                            <table class="table table-bordered">
                                <thead>
                                </thead>
                                @if (ViewBag.returnType == "error")
                                {
                                    <tr colspan="3">
                                    </tr>
                                }
                                else
                                {
                                    <tbody>
                                        <tr>
                                            <form method="post" asp-controller="Users" asp-action="ChangeRole">

                                            <td><b>User Role</b></td>
                                            <td>
                                                <input asp-for="_email" type="hidden" id="email" value="placeholder" />
                                                <ul style="list-style-type: none; padding: 0; margin: 0;">
                                                      @for (int i = 0; i < Model._roleList.roles.Count; i++)
                                                      {
                                                         <li>
                                                             <input id="checkboxCheck" type="checkbox" asp-for="@Model._roleList.roles[i].IsChecked" />
                                                             @Model._roleList.roles[i].RoleName
                                                             <input type="hidden" asp-for="@Model._roleList.roles[i].RoleId" />
                                                             <input type="hidden" asp-for="@Model._roleList.roles[i].RoleName" />
                                                         <br />
                                                         </li>
                                                      }
                                                </ul>
                                            </td>
                                            <td>
                                                <input class="btn btn-success" type="submit" value="Save" />
                                            </td>
                                            </form>
                                        </tr>
                                        <form method="post" asp-controller="Users" asp-action="ChangeReservationLimit">
                                        <tr>
                                            <td><b>Reservation Limit</b></td>
                                            <td><input asp-for="_reservationLimit" type="number" id="txtReservationLimit" placeholder="Enter number" /></td>
                                            <input asp-for="_email" type="hidden" id="email" value="placeholder" />
                                            <td>
                                                <input class="btn btn-success" type="submit" value="Save" />
                                            </td>
                                        </tr>
                                        </form>
                                        <form method="post" asp-controller="Users" asp-action="AddRole">
                                        <tr>
                                            <td><b>Add New Role</b></td>
                                            <td><input asp-for="role" type="text" placeholder="Enter New Role" /></td>
                                            <td>
                                                <input class="btn btn-success" type="submit" value="Save" />
                                            </td>
                                        </tr>
                                        </form>
                                    </tbody>
                                }
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
  <script>
      $(document).on('click', '#editUser', function(){
          var email = this.value;
          document.getElementById("email").value = email;
          $('#editModal').modal('show');
      });
      $('input[type="checkbox"]').on('change', function(){
        $('input[type="checkbox"]').not(this).prop("checked", false);
      });

  </script>
}
