@model ict_lab_website.Models.Room

@{
    ViewData["Title"] = "Details";
}

<h2>Details of room @Model.RoomCode</h2>

<div>
    <h4>Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoomCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoomCode)
        </dd>
    </dl>

    <h4>Reservations</h4>
    <hr />
    <ol>
        @foreach (Reservation reservation in Model.Reservations)
        {
            <li>@reservation.RoomID - @reservation.Subject - @reservation.Reserver @reservation.DateAndTime</li>
        }
    </ol>


</div>

<div>
   <a asp-action="AddReservation">Add reservation</a> |
    <a asp-action="Index">Back to list</a>
</div>
