@model IEnumerable<ict_lab_website.Models.Room>

@{
    ViewData["Title"] = "Rooms";
}

<br>
<br>
<form class="form-inline" asp-controller="Rooms" asp-action="Index">
    <div class="form-group">
        <label for="searchBar">Room</label>
        <input type="search" class="form-control" id="searchBar" name="searchString">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>

</form>
<h2>Rooms</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoomCode)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Room room in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => room.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => room.RoomCode)
            </td>
            <td>
                <a asp-action="Schedule" asp-route-id="@room.ID">View schedule</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="Create">Create New</a>
</p>
