@model Dictionary<Room, int>

<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1 class="display-4">Rooms</h1>
            <p class="lead">Enter a searchterm (i.e. room-name, location) and a date to view available timeslots for the room on that date.</p>
            <hr class="my-4" />
            <form class="form-inline" asp-controller="Rooms" asp-action="Index">
                <div class="form-group">
                    <label for="searchString">Room-name:</label>
                    <input type="search" class="form-control" id="searchString" name="searchString" placeholder="H."/>
                    <label for="date">Date:</label>
                    <input type="date" class="form-control" id="date" name="date" />
                    <button type="submit" class="btn btn btn-success">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12" >
        <table class="table table-bordered table-striped">
            <thead>
                <tr class="success">
                    <th>Name</th>
                    <th># available timeslots on @ViewBag.date.ToString("dd MMMM yyyy")</th>
                    <th width="60%"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {
                    foreach (Room room in Model.Keys)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => room.Name)</td>
                            <td>@Model[room]</td>
                            <td><a asp-controller="Schedule" asp-action="Index" asp-route-roomName="@room.Name" asp-route-view="ScheduleViewDay" asp-route-dateTime="@ViewBag.date.Year-@ViewBag.date.Month-@ViewBag.date.Day">View schedule</a></td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3">
                            <div class="alert alert-danger">
                                <strong>Error</strong> No rooms were found. Please refresh the page to try again.
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
