@model RoomReservationsViewModel

<h2>Reservations for @Model.DateAndTime.ToString("dd/MM/yyyy") </h2>
<hr />
<form asp-controller="Rooms" asp-action="Schedule">
    <p>
        Date <input type="date" name="dateTime">
        <input type="submit" value="Change" />
    </p>
</form>

<ol>
    @foreach (var reservation in Model.Reservations)
    {
        <li><b>@reservation.Subject</b>: @reservation.Reserver - <i> At @reservation.DateAndTime , for @reservation.Length hours</i></li>
    }
</ol>

