@model RoomScheduleViewModel

<br />
<br/>

<div class="well">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">@Model.Room.Name</a>
            </div>
            <form class="navbar-form navbar-left navbar-input-group" asp-action="Schedule" asp-route-name="@Model.Room.Name" asp-route-view ="@Model.View">
                <div class="input-group">
                    <input type="date" class="form-control" id="dateTime" name="dateTime" placeholder="@Model.DateAndTime.ToString("dd-MMM-yyyy")"/>
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default">Change</button>
                    </div>                    
                </div>
            </form>
            <ul class="nav navbar-nav navbar-center">
                <li><a asp-action="Schedule" asp-route-name="@Model.Room.Name" asp-route-view="@Model.View" asp-route-dateTime="@Model.DateAndTime.Year-@Model.DateAndTime.Month-@(Model.DateAndTime.Day-1)"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                <li><a asp-action="Schedule" asp-route-name="@Model.Room.Name" asp-route-view="@Model.View" asp-route-dateTime="@Model.DateAndTime.Year-@Model.DateAndTime.Month-@(Model.DateAndTime.Day+1)"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a asp-action="Schedule" asp-route-name="@Model.Room.Name" asp-route-view="@ScheduleView.Day" asp-route-dateTime="@Model.DateAndTime.Year-@Model.DateAndTime.Month-@Model.DateAndTime.Day">Day</a></li>
                <li><a asp-action="Schedule" asp-route-name="@Model.Room.Name" asp-route-view="@ScheduleView.Week" asp-route-dateTime="@Model.DateAndTime.Year-@Model.DateAndTime.Month-@Model.DateAndTime.Day">Week</a></li>
                <li><a asp-action="Schedule" asp-route-name="@Model.Room.Name" asp-route-view="@ScheduleView.Month" asp-route-dateTime="@Model.DateAndTime.Year-@Model.DateAndTime.Month-@Model.DateAndTime.Day">Month</a></li>
                <li><a asp-action="Schedule" asp-route-name="@Model.Room.Name" asp-route-view="@ScheduleView.Year" asp-route-dateTime="@Model.DateAndTime.Year-@Model.DateAndTime.Month-@Model.DateAndTime.Day">Year</a></li>
            </ul>
        </div>
    </nav>

    @switch (Model.View)
    {
        case ScheduleView.Day:
            @Html.Partial("ScheduleViewDay", Model);
            break;
        case ScheduleView.Week:
            @Html.Partial("ScheduleViewWeek", Model);
            break;
        case ScheduleView.Month:
            @Html.Partial("ScheduleViewMonth", Model);
            break;
        case ScheduleView.Year:
            @Html.Partial("ScheduleViewYear", Model);
            break;
    }
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<script>

    $(document).keypress(function(e){

        var serializeJson = '@Html.Raw(Json.Serialize(Model))';
        var parseModel = JSON.parse(serializeJson);

        var currentRoomName = parseModel["room"]["name"];
        var currentDateAndTime = parseModel["dateAndTime"];
        var currentView = parseModel["view"];

        var result = new Date(currentDateAndTime);

        var nextDay = result.setDate(result.getDate() + 1);
        

        console.log(e.keyCode);

        if(e.keyCode == 119){
            e.preventDefault();

            if(currentView == 0){
                window.location.href="http://localhost:5001/Rooms/Schedule?name=" + currentRoomName + "&view=Week&dateTime=" + currentDateAndTime;
            } else if(currentView == 1){
                window.location.href="http://localhost:5001/Rooms/Schedule?name=" + currentRoomName + "&view=Month&dateTime=" + currentDateAndTime;
            } else if(currentView == 2){
                window.location.href="http://localhost:5001/Rooms/Schedule?name=" + currentRoomName + "&view=Year&dateTime=" + currentDateAndTime;
            }
        } else if(e.keyCode == 115){
            e.preventDefault();

            if(currentView == 3){
                window.location.href="http://localhost:5001/Rooms/Schedule?name=" + currentRoomName + "&view=Month&dateTime=" + currentDateAndTime;
            } else if(currentView == 2){
                window.location.href="http://localhost:5001/Rooms/Schedule?name=" + currentRoomName + "&view=Week&dateTime=" + currentDateAndTime;
            } else if(currentView == 1){
                window.location.href="http://localhost:5001/Rooms/Schedule?name=" + currentRoomName + "&view=Day&dateTime=" + currentDateAndTime;
            }
        }
    });

</script>





