@model RoomScheduleViewModel

<table class="table table-bordered table-striped">
    <thead>
        <tr class="success">
            <th>Lesson hour</th>
            <th style="width: 85%">Reservations on @Model.DateAndTime.ToString("dddd, d MMMM yyyy")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hour in Model.Room.RoomSchedule.GetReservationsForDay(Model.DateAndTime))
        {
            if (hour.Value != null)
            {
                <tr>
                    <th>@hour.Key</th>
                    <td><b>@hour.Value.Subject</b> - @hour.Value.Reserver</td>
                </tr>
            }
            else
            {
                <tr>
                    <th>@hour.Key</th>
                    <td></td>
                </tr>
            }
        }
    </tbody>
</table>

