@model RoomScheduleViewModel

<table class="table table-bordered table-striped">
    <thead>
        <tr class="success">
            <th>Lesson hour</th>
            <th colspan="7">Reservations for the week of @Model.Room.RoomSchedule.GetDatesForWeek(Model.DateAndTime).First().ToString("dd MMMM yyyy")</th>
        </tr>
        <tr>
            <th></th>
            @foreach  (var day in Model.Room.RoomSchedule.GetDatesForWeek(Model.DateAndTime))
            {
                <th>@day.ToString("ddd. d MMMM")</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (int i = 1; i <= 15; i++)
        {
            <tr>
                <th>@i</th>
                @foreach (var day in Model.Room.RoomSchedule.GetReservationsForWeek(Model.DateAndTime))
                {
                    if (day.Value[i] != null)
                    {
                        <td><b>@day.Value[i].Subject</b> - @day.Value[i].Reserver</td>

                    }
                    else
                    {
                        <td></td>
                    }
                }
            </tr>
        }
    </tbody>
</table>



