@model RoomScheduleViewModel

<br />
<br/>
<div class="well">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">@Model.Room.Name</a>
            </div>
            <ul class="nav navbar-nav navbar-center">
                <li><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                <li><a href="#">@Model.DateAndTime.ToString("dd/MM/yyyy")</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a asp-action="Schedule" asp-route-id="@Model.Room.Id" asp-route-view="@ScheduleView.Day" asp-route-dateTime="@Model.DateAndTime">Day</a></li>
                <li><a asp-action="Schedule" asp-route-id="@Model.Room.Id" asp-route-view="@ScheduleView.Week" asp-route-dateTime="@Model.DateAndTime">Week</a></li>
                <li><a asp-action="Schedule" asp-route-id="@Model.Room.Id" asp-route-view="@ScheduleView.Month" asp-route-dateTime="@Model.DateAndTime">Month</a></li>
                <li><a asp-action="Schedule" asp-route-id="@Model.Room.Id" asp-route-view="@ScheduleView.Year" asp-route-dateTime="@Model.DateAndTime">Year</a></li>
            </ul>
        </div>
    </nav>


@switch (Model.View)
{
    case ScheduleView.Day:
        @Html.Partial("ScheduleViewDay", Model.Room.RoomSchedule.GetReservationsForDay(Model.DateAndTime))
        break;
    case ScheduleView.Week:
        @Html.Partial("ScheduleViewWeek", Model.Room.RoomSchedule.GetReservationsForMonth(Model.DateAndTime))
        break;
    case ScheduleView.Month:
        @Html.Partial("ScheduleViewMonth", Model.Room.RoomSchedule.GetReservationsForMonth(Model.DateAndTime));
        break;
    case ScheduleView.Year:
        @Html.Partial("ScheduleViewYear", Model.Room.RoomSchedule.GetReservationsForYear(Model.DateAndTime));
        break;
}
</div>


