@model RoomScheduleViewModel

<br />
<br/>

<div class="well">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">@Model.Room.Name</a>
            </div>
            <form class="navbar-form navbar-left navbar-input-group" asp-action="Schedule" asp-route-name="@Model.Room.Name" asp-route-view ="@Model.View">
                <div class="input-group">
                    <input type="date" class="form-control" id="dateTime" name="dateTime" placeholder="@Model.DateAndTime.ToString("dd-MMM-yyyy")"/>
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default">Change</button>
                    </div>                    
                </div>
            </form>

            <ul class="nav navbar-nav navbar-center">

                <!-- This switch must be removed -->
                @switch (Model.View)
                {
                    case "ScheduleViewDay":
                        <li><a asp-action="Schedule" asp-route-name="@Model.Room.Name" asp-route-view="@Model.View" asp-route-dateTime="@Model.DateAndTime.AddDays(-1).Year-@Model.DateAndTime.AddDays(-1).Month-@(Model.DateAndTime.AddDays(-1).Day)"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                        <li><a asp-action="Schedule" asp-route-name="@Model.Room.Name" asp-route-view="@Model.View" asp-route-dateTime="@Model.DateAndTime.AddDays(1).Year-@Model.DateAndTime.AddDays(1).Month-@(Model.DateAndTime.AddDays(1).Day)"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                        break;
                    case "ScheduleViewWeek":
                        <li><a asp-action="Schedule" asp-route-name="@Model.Room.Name" asp-route-view="@Model.View" asp-route-dateTime="@Model.DateAndTime.AddDays(-7).Year-@Model.DateAndTime.AddDays(-7).Month-@(Model.DateAndTime.AddDays(-7).Day)"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                        <li><a asp-action="Schedule" asp-route-name="@Model.Room.Name" asp-route-view="@Model.View" asp-route-dateTime="@Model.DateAndTime.AddDays(7).Year-@Model.DateAndTime.AddDays(7).Month-@(Model.DateAndTime.AddDays(7).Day)"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                        break;
                    case "ScheduleViewMonth":
                        <li><a asp-action="Schedule" asp-route-name="@Model.Room.Name" asp-route-view="@Model.View" asp-route-dateTime="@Model.DateAndTime.AddMonths(-1).Year-@Model.DateAndTime.AddMonths(-1).Month-@(Model.DateAndTime.AddMonths(-1).Day)"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                        <li><a asp-action="Schedule" asp-route-name="@Model.Room.Name" asp-route-view="@Model.View" asp-route-dateTime="@Model.DateAndTime.AddMonths(1).Year-@Model.DateAndTime.AddMonths(1).Month-@(Model.DateAndTime.AddMonths(1).Day)"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                        break;
                    case "ScheduleViewYear":
                        <li><a asp-action="Schedule" asp-route-name="@Model.Room.Name" asp-route-view="@Model.View" asp-route-dateTime="@Model.DateAndTime.AddYears(-1).Year-@Model.DateAndTime.AddYears(-1).Month-@(Model.DateAndTime.AddYears(-1).Day)"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                        <li><a asp-action="Schedule" asp-route-name="@Model.Room.Name" asp-route-view="@Model.View" asp-route-dateTime="@Model.DateAndTime.AddYears(1).Year-@Model.DateAndTime.AddYears(1).Month-@(Model.DateAndTime.AddYears(1).Day)"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                        break;
                 }
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a asp-action="Schedule" asp-route-name="@Model.Room.Name" asp-route-view="ScheduleViewDay" asp-route-dateTime="@Model.DateAndTime.Year-@Model.DateAndTime.Month-@Model.DateAndTime.Day">Day</a></li>
                <li><a asp-action="Schedule" asp-route-name="@Model.Room.Name" asp-route-view="ScheduleViewWeek" asp-route-dateTime="@Model.DateAndTime.Year-@Model.DateAndTime.Month-@Model.DateAndTime.Day">Week</a></li>
                <li><a asp-action="Schedule" asp-route-name="@Model.Room.Name" asp-route-view="ScheduleViewMonth" asp-route-dateTime="@Model.DateAndTime.Year-@Model.DateAndTime.Month-@Model.DateAndTime.Day">Month</a></li>
                <li><a asp-action="Schedule" asp-route-name="@Model.Room.Name" asp-route-view="ScheduleViewYear" asp-route-dateTime="@Model.DateAndTime.Year-@Model.DateAndTime.Month-@Model.DateAndTime.Day">Year</a></li>
            </ul>
        </div>
    </nav>

    @Html.Partial(Model.View, Model)

</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<script>

    $(document).keypress(function(e){

        //Go up in Day,Week,Month,Year (Keyboard letter "W")
        if(e.keyCode == 119){
            e.preventDefault();

            if(window.location.href.indexOf("Day") > -1){
                $("#week").click();
            } else if(window.location.href.indexOf("Week") > -1){
                $("#month").click();
            } else {
                $("#year").click();
            }

        //Go down in Day,Week,Month,Year (Keyboard letter "S")
        } else if(e.keyCode == 115){
            e.preventDefault();
    
            if(window.location.href.indexOf("Month") > -1){
                $("#week").click();
            } else if(window.location.href.indexOf("Year") > -1){
                $("#month").click();
            } else {
                $("#day").click();
            }

        //Scroll up 50 pixels (Keyboard letter "R")
        } else if(e.keyCode == 114){
            window.scrollBy(0,-50);
        //Scroll down 50 pixels (Keyboard letter "F")
        } else if(e.keyCode == 102){
            window.scrollBy(0,50);
        //Go to previous Day,Week,Month,Year (Keyboard letter "A")
        } else if(e.keyCode == 97){
            $("#goDown").click();
        //Go to next Day,Week,Month,Year (Keyboard letter "D")
        } else if(e.keyCode == 100){
            $("#goUp").click();
        }
    });

</script>





